.search__page{
    .container{
        background: #f1f1f1;
        .search__header{
            padding: 4rem 3.5rem 2rem;
            h3{
                color: grey;
            }
            h1{
                margin: 1rem 0;
                color: #3b3a40;
                span{
                    color: #00d095;
                }
            }
            .header__options{
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .option__left{
                    display: flex;
                    align-items: center;
                    .radio{
                        .radio__wrap{
                            width: 180px;
                            margin-right: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: 1px solid #cac9c9;
                            border-radius: 50px;
                            padding: 0.1rem;
                            background: #fff;
                            overflow: hidden;
                            input{
                                display: none;
                                &:checked + label{
                                    color: #05af7f;
                                    background: #c8f8ebde;
                                }
                            }
                            label{
                                padding: 0.4rem 1rem;
                                color: grey;
                                cursor: pointer;
                                border-radius: 50px;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                    .selected{
                        background: #c8f8ebde !important;
                        border: 1px solid #b1f3e1 !important;
                        select{
                            color: #05af7f !important;
                        }
                        .close{
                            color: #05af7f !important;
                        }

                    }
                    .filter{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 1rem;
                        border: 1px solid #cac9c9;
                        background: #fff;
                        position: relative;
                        border-radius: 50px;
                        overflow: hidden;
                        cursor: pointer;
                        padding: 0 0.5rem;
                        select{
                            appearance: none;
                            border: none;
                            outline: none;
                            padding: 0.5rem 0.2rem 0.5rem 0.5rem;
                            background: transparent;
                            width: 100%;
                            color: #3b3a40;
                            cursor: pointer;
                        }
                        svg{
                            color: grey !important;
                            font-size: 18px !important;
                        }
                    }
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 1px solid #348193;
                        border-radius: 50px;
                        padding: 0.5rem 0.8rem;
                        color: #348193;
                        &:hover{
                            background: #348193;
                            color: #fff;
                        }
                        svg{
                            font-size: 15px !important;
                            margin-right: 0.3rem;
                        }
                    }
                }
                .option__right{}
            }
        }
        .search__body{
            background: #fff;
            padding: 3.5rem;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 1.8rem;
            box-sizing: border-box;
            .body__left{
                .card__wrapper{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    column-gap: 1.5rem;
                    row-gap: 1.5rem;
                    .search__card{
                        width: 250px;
                        cursor: pointer;
                        .card__img{
                            width: 100%;
                            height: 160px;
                            border-radius: 20px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .card__body{
                            padding: 1rem 0.3rem;
                            h2{
                                color: #333;
                            }
                            .card__desc{
                                color: #555;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                margin: 0.5rem 0;
                                margin-bottom: 1rem;
                                p{
                                    display: flex;
                                    align-items: center;
                                    margin-right: 0.7rem;
                                    svg{
                                        font-size: 16px !important;
                                        margin-right: 0.3rem;
                                    }
                                }
                            }
                            p{
                                color: #555;
                                line-height: 1.4;
                                font-size: 14px;
                            }
                        }
                    }

                }
                .search__pagination{
                    margin: 5.5rem 0 3rem;
                }
            }
            .body__right{
                .search__map{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}