.how__works{
    margin: 5rem 0 3.5rem;
    .how__container{
        padding: 5rem 9rem;
        .title{
            text-align: center;
            margin-bottom: 1.2rem;
        }
        .subtitle{
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
            color: #3b3a40;
        }
        .step__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3rem;
            position: relative;
            
            .step{
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 145px;
                &:not(:last-child){
                    &::before{
                        position: absolute;
                        content: '';
                        height: 1px;
                        width: 16rem;
                        background: #dadada;
                        left: 6.1rem;
                        top: 25px;
                    }
                }
                .step__icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    box-shadow: 0px 2px 8px 2px rgba(99,99,99,0.2);
                    background: #fff;
                    &.active{
                        background: #215b69;
                        color: #fff;
                    }
                    &:hover{
                        background: #215b69;
                        color: #fff;
                        svg{
                            color: #fff;
                        }

                    }
                    svg{
                        color:#555;
                    }
                }
                p{
                    color:#555;
                    margin: 0.8rem 0;
                    font-weight: bold;
                }
            }
        }
        .step__card{
            background: #7bbfd6;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;
            position: relative;
            .inner__img{
                position: absolute;
                left: 0;
                top: 0;
                width: 42rem;
                
                height: 100%;
                img{
                    object-fit: contain;
                    width: 100%;
                }
            }
            .inner__card{
                position: relative;
                padding: 0.5rem;
                .inner__cardWrap{
                    background: #fff;
                    border-radius: 15px;
                    padding: 2.5rem;
                    width: 20rem;
                    h2{
                        color: #3b3a40;
                        margin-bottom: 1.5rem;
                    }
                    .desc{
                        color: #555;
                        margin-bottom: 4rem;
                        line-height: 1.6;
                        width: 17rem;
                    }
                    .inner__wrapBottom{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: 14px;
                            color: #555;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span{
                                color: grey;
                                border: 1px solid #bebebe;
                                padding: 5px;
                                border-radius: 8px;
                                margin-right: 15px;
                            }
                        }
                        button{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #00d095;
                            font-weight: bold;
                            font-size: 14px;
                            svg{
                                font-size: 16px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}